img1 {
    width: 80px;
    height: 70px;
}

2 {
    font-style:italic;
    font-size:30;
    font-family:cursive;
    font color:gold;
}
1 {
    font-style:italic;
    font-size:30;
    font-family:cursive;
    font color:gold;
}
